
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Search Employee</label>
                    <input type="text" class="form-control" name="employeename"[(ngModel)]="employeename">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success"(click)="readValues()">Search</button>
                </div>
                <div *ngFor="let i of data">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee Name</label>
                        <input type="text" class="form-control" value="{{i.employeename}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Employee code</label>
                        <input type="text" class="form-control" value="{{i.employeecode}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Address</label>
                        <input type="text" class="form-control" value="{{i.address}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">salary</label>
                        <input type="text" class="form-control" value="{{i.salary}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">companyname</label>
                        <input type="text" class="form-control" value="{{i.companyname}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">DOJ</label>
                        <input type="text" class="form-control" value="{{i.doj}}">
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    </div>

